// variables

// tipografias 

$texto-uno: "Russo One", sans-serif;
$texto-dos: "Oswald", sans-serif;

// Colores principales

$color-principal: whitesmoke;
$color-secundario: rgb(59, 59, 59);

// colores boton 

$color-boton: #fff;
$color-fondo-boton: #dc3545;

// colores footer

$fondo-footer: #0e0d0d;
$color-iconos: rgb(146, 139, 139);

// colores Home

$titulo-home: red;

// colores Contactos

$fondo-boton-contacto: #4caf50;
$boton-contacto: white;

// colores UFC30

$UFC30-titulo: rgb(247, 240, 240);

// colores noticias

$color-noticias: rgb(221, 30, 30);
